.form-group.has-success label, .form-group.has-error label {
	color: inherit;
}
.form-group.has-success label.control-label {
	color: #00a65a;
}
.form-group.has-error label.control-label {
	color: #dd4b39;
}
.form-group label.control-label {
	display: none;
}
.form-group.has-success label.control-label, .form-group.has-error label.control-label {
	display: block;
}
.form-group.has-success .select2-selection {
	border: 1px solid #01b764 !important;
}
.form-group.has-error .select2-selection {
	border: 1px solid #ef6958 !important;
}

.field-header {
	display: block;
}

.ad_update {
	display: inline-block;
	cursor: pointer;
	float: right;
}

.ad-add-link {
	float: right;
}
.ad-update-link, .ad-delete-link {
	cursor: pointer;
}
.ad-delete-link {
	color: #dd4b39;
}
.ad-delete-link:hover {
	color: #f97d6d;
}

.clone-block {
	margin-bottom: 1em;
}
.add-clone, .remove-clone.contact, .update-user {
	display: block;
	margin: 0 auto;
}
.sample {
	display: none;
}
.sample.row, .clone.row {
	margin-left: 0;
	margin-right: 0; 
}

.image-view {
	width: 100%;
}
.image-remove {
	position: absolute; 
	top: 0; 
	right: 0;
}

.clone-block .form-group {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

.form-group.id {
	margin: 0;
}

.form-control[readonly] {
	background-color: #fff;
}

.cart-item {
	border-bottom: 1px solid #ECECEC; 
	padding: 1em 0;
}

.pr-image, .pr-info, .pr-qty {
	display: inline-flex;
	align-items: center;
}

.pr-image img {
	max-width: 100%;
}

.qty {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

ul.qty li.name {
	display: block;
	margin-bottom: 1em;
}

ul.qty li.name a {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: none;
}

ul.qty li.price.subtotal p {
	font-weight: 700;
}

.qty-field {
	margin: 0 auto;
}

.qty-field input {
	width: 2em;
	text-align: center;
}